# Auto detect text files and perform LF normalization
* text=auto

# Force LF line endings for these files
*.php text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.sql text eol=lf
Dockerfile text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

# Binary files
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary